h1{
    color: chartreuse;
}
h2{
    color: cornflowerblue;
}
#ash{
    color: chartreuse;
}
p{
    color: chocolate;
}
.sal{
    color: crimson;
}
.em{
    font-size: 50px;
}
.me{
    background-color: darkblue;
}
.wa{
    font-size: 30px;
}
.aw{
    font-size: 10px;
}

#la{
    color: darkblue;
}
